<!-- templates/partials/header.html -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    {% if request.blueprint == "public" %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavPublic">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('public.index') }}">Shop HomeMadeCandle</a>
      <div id="mainNavPublic" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item"><a class="nav-link" href="{{ url_for('public.index') }}">Головна</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('public.catalog') }}">Каталог</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('public.compositions') }}">Композиції</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('public.faq') }}">FAQ</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('shop.cart') }}">Кошик</a></li>
        </ul>
      </div>

    {% elif request.blueprint == "admin" %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavAdmin">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('public.index') }}">Admin HomeMadeCandle</a>
      <div id="mainNavAdmin" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.admin_index') }}">Головна</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.product_list') }}">Товари</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.composition_list') }}">Композиції</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.order_list') }}">Замовлення</a></li>
        </ul>
      </div>
    {% endif %}
  </div>
</nav>