<!-- templates/partials/header.html -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('public.index') }}">Shop HomeMadeCandle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="mainNav" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('public.index') }}">Головна</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('public.catalog') }}">Каталог</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('public.compositions') }}">Композиції</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('public.faq') }}">FAQ</a></li>
      </ul>
      <div class="d-flex">
        <a class="btn btn-outline-primary" href="{{ url_for('shop.cart') }}">Кошик</a>
      </div>
    </div>
  </div>
</nav>